<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.confusion">
<uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Confusion"
        tools:targetApi="31">
        <activity
            android:name=".Level20"
            android:exported="false" />
        <activity
            android:name=".Level19"
            android:exported="false" />
        <activity
            android:name=".Level18"
            android:exported="false" />
        <activity
            android:name=".Level17"
            android:exported="false" />
        <activity
            android:name=".Level16"
            android:exported="false" />
        <activity
            android:name=".Level15"
            android:exported="false" />
        <activity
            android:name=".Level14"
            android:exported="false" />
        <activity
            android:name=".Level13"
            android:exported="false" />
        <activity
            android:name=".Level12"
            android:exported="false" />
        <activity
            android:name=".Level11"
            android:exported="false" />
        <activity
            android:name=".Level10"
            android:exported="false" />
        <activity
            android:name=".Level9"
            android:exported="false" />
        <activity
            android:name=".Level8"
            android:exported="false" />
        <activity
            android:name=".Level7"
            android:exported="false" />
        <activity
            android:name=".Level6"
            android:exported="false" />
        <activity
            android:name=".Level5"
            android:exported="false" />
        <activity
            android:name=".Level4"
            android:exported="false" />
        <activity
            android:name=".Level3"
            android:exported="false" />
        <activity
            android:name=".Level2"
            android:exported="false" />
        <activity
            android:name=".Level1"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>